.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 999px;
  padding: 0 5px;
  border: none;
  width: 55px;
  height: 26px;
  background: var(--gray-66);
}

.switcher {
  position: absolute;
  left: -2px;
  top: -2px;
  border: none;
  border-radius: 999px;
  width: 30px;
  height: 30px;
  background: var(--gray-99);
  transition: left .3s ease;
}

.switcher_dark {
  left: unset;
  left: 27px;
}
